

html,
body,
header,
.carousel {
   height: 60vh;
}

hr{
   border-top:0;
}

@media (max-width: 740px) {

   html,
   body,
   header,
   .carousel {
       height: 100vh;
   }
}

@media (min-width: 800px) and (max-width: 850px) {

   html,
   body,
   header,
   .carousel {
       height: 100vh;
   }
}
